*.pyc
*.swp
*script.sh
nohup.out
vgg19.params
mrf_cnn/output
mrf_cnn/*.jpg
perceptual/models
perceptual/output
texturenet/pretrained/output
texturenet/pretrained/models
old_stuff/out
old_stuff/models
